{% extends "base.html" %}
{% block content %}
<h2>Add New Property</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }} {{ form.title }}
    </div>
    <div>
        {{ form.bedrooms.label }} {{ form.bedrooms }}
    </div>
    <div>
        {{ form.bathrooms.label }} {{ form.bathrooms }}
    </div>
    <div>
        {{ form.location.label }} {{ form.location }}
    </div>
    <div>
        {{ form.price.label }} {{ form.price }}
    </div>
    <div>
        {{ form.type.label }} {{ form.type }}
    </div>
    <div>
        {{ form.description.label }} {{ form.description }}
    </div>
    <div>
        {{ form.photo.label }} {{ form.photo }}
    </div>
    <button type="submit">Add Property</button>
</form>
{% endblock %}